@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
 
body{
/* background: url('math1.png'); */
background: linear-gradient(#2196f3,#e91e63);
}


table{
    
    background:rgba(255,255,255,0.1);
    height: 200px;
    background: transparent;
    background:rgba(255,255,255,0.1);
    outline: none;
    border: none;
    box-shadow: 5px 5px 25px -5px rgba(1,1,1,0.5);
}

input[type="button"]
{
    /* margin-top: 10px; */
    background-color: rgb(7, 7, 7);
   color: rgb(255, 255, 255);
   /* border: solid black 2px; */
   width: 100%;
   height: 50px;
   font-size: 25px;
   border-radius: 20px;
   cursor : pointer;
   background: transparent;
   outline: none;
   border: none;
   height: 80px;
   width: 75px;
   text-align: center;
}
#equal{
    
    font-weight: bolder;
}

#equal:hover{
    background-color:rgb(139, 245, 139) ;
}

#sign{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.center{
  width: 100%;;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="button"]:hover{
    background:rgba(255,255,255,0.1);
   color: rgb(0, 0, 0);
}
input[type="text"]{
    /* background-color: rgb(119, 104, 104); */
    background: transparent;
    /* border: solid black 2px; */
    border:none;
    width: 98%;
    height: 50px;
    font-size: 30px;
    color: rgb(255, 249, 249);
    border-radius: 20px;
    font-weight: bold;
    margin-left:15px;
    outline: none;
    border: none;
   
}
#c-btn{
    height: 55px;
   
}
