body{
background: url('math1.png');
}


table{
   
    background-color: rgb(39, 36, 36);
}

input[type="button"]
{
    background-color: rgb(7, 7, 7);
   color: rgb(255, 255, 255);
   border: solid black 2px;
   width: 100%;
   height: 50px;
   font-size: 30px;
   border-radius: 20px;
   cursor : pointer;
}

input[type="button"]:hover{
    background-color: rgb(82, 76, 76);
   color: rgb(255, 254, 254);
}
input[type="text"]{
    background-color: rgb(119, 104, 104);
    border: solid black 2px;
    width: 98%;
    height: 50px;
    font-size: 30px;
    color: rgb(255, 249, 249);
    border-radius: 20px;
    font-weight: bold;
}
#c-btn{
    height: 55px;
   
}